.layout-container {
  height: calc(100vh - 200px);
}
.container-1440 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto; /* Horizontally center the container within its parent */
  /* Add any other necessary styles */
}


.top-container {
  width: 1440px; /* Set your desired width */
  height: 38px; /* Set your desired height */
  padding: 0px 32px; /* Set your desired padding */
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
  gap: 8px; /* Set your desired gap */
}

.app-wrapper {
  min-height: 100vh;
  background-color: #F6F6F4; /* Your desired color */
}

.heading-container {
  width: 1440px; /* Your desired width */
  padding: 15px 32px 32px; /* Adjusted padding (top, right & bottom, left) */
  gap: 16px; /* Gap between child elements */
  margin: 0 auto; /* Centers the block horizontally */
  display: flex; /* Assuming you want its children to be flex items */
  flex-direction: column; /* Stack children vertically */
  align-items: start; /* Align children horizontally in the middle */
}


.custom-heading {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}


#login-page footer,
#signup-page footer {
  display: none !important;
}

.primaryBackground {
  background-color: #F6F6F4;
}

.login-form,
.register-form {
  width: 100%;
  width: min(100%, 420px);
  margin: 0 auto;
  padding: 25px 0;
}

.sidebar__btn-menu,
.topbar {
  height: 80px;
}

.topbar__avatar {
  width: 50px !important;
  height: 50px !important;
}

.topbar__avatar img {
  width: 50px !important;
  height: 50px !important;
}

.circle {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 64px;
  height: 64px;
  background-color: #F4FF47;
  border-radius: 50%; /* This makes it a circle */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 32px;
  width: 1440px;
  height: 104px;
  margin: 0 auto;
}
.left-items {
  display: flex;
  align-items: center;
}
.right-items {
  margin-left: auto;
}
.navbar-link {
  margin-right: 8px;
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.login-button {
  background-color: #F4FF47;
  height: 40px;
  color: #000000; /* Text color (usually black for good contrast with yellow) */
  border-radius: 20px; /* Adjust the value for desired roundness */
  border: 0px solid #DDE9E6; /* Border: 1px solid with the specified color */
  transition: background-color 0.5s; /* Smooth transition for background color */
  font-size: 16px; /* Font size */
  font-weight: 500; /* Font weight */
  line-height: 24px; /* Line height */
}
.login-button:active {
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}


.form-field {
  width: 100%; /* Width: Fill (100%) */
  height: 40px; /* Height: 40px */
  padding: 8px 16px; /* Padding: 8px 16px */
  border: 1px solid #DDE9E6; /* Border: 1px solid with the specified color */
  border-radius: 16px; /* Border-radius: 16px */
  gap: 8px; /* Gap: 8px */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.form-field:focus {
  outline: none; /* Remove the default blue outline on focus */
}

.login-button:hover {
  background-color: #F4FF47;
}

.startBidding-button {
  background-color: #F4FF47;
  color: #000000;
  border-radius: 16px;
  padding: 8px 16px;
  gap: 8px;
}

.white-box {
  width: fit-content;
  height: 64px;
  padding: 4px;
  border-radius: 32px;
  gap: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-circle {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background: #F4FF47;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}


.profile-circle {
  width: 56px; /* Set the same width as the yellow circle */
  height: 56px; /* Set the same height as the yellow circle */
  border-radius: 100px;
  gap: 4px;
}

.custom-box {
  width: fit-content; /* Hug (251px) */
  height: 64px; /* Fixed (64px) */
  top: 96px;
  left: 16px;
  padding: 4px;
  border-radius: 32px;
  gap: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-button {
  width: fit-content;
  height: 56px;
  padding: 8px 16px;
  border-radius: 32px;
  gap: 4px;
  background-color: #272D2D;
  color: white;
 }
.auctions-nonButton {
  width: fit-content;
  padding: 8px 16px;
  gap: 4px;
  color: black;
  background-color: white;
  border: none;
}

.navigation-text {
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
 }

.icon-image {
  width: 20px;
  height: 17px;
  margin-right: 8px;
  /* No border-radius here */
}
.profile-icon-image {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-right: 8px;
}


.triple-navigator {
  width: 402px;
  height: 48px;
  top: 164px;
  left: 16px;
  padding: 4px;
  border-radius: 16px;
  gap: 8px;
  background: #EDF4F2;
}
.triple-navigator {
  display: flex;
  gap: 8px;
}
.triple-navigator button {
  flex: 1;
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
  background-color: #EDF4F2;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}
.triple-navigator-active {
  width: 126px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 16px;
  gap: 8px;
  background: #272D2D;
}
.triple-navigator button:hover {
  width: 126px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 16px;
  gap: 8px;
  background-color: #A3C2B9;
}
.triple-navigator button.triple-navigator-active {
  width: 126px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 16px;
  gap: 8px;
  background: #272D2D;
  color: white;
}


.auctions-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates 6 columns */
  gap: 10px; /* Adjust the gap between items as needed */
  padding: 0px 32px 32px 32px; /* top right bottom left padding */
  gap: 16px

}

/* Styles for the auction card */
.auction-profile-card {
  width: 216px;
  height: 298px;
  border-radius: 16px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center; /* Keep content aligned horizontally */
  justify-content: space-between; /* Align items to the start of the flex container */
}


.auction-profile-image {
  width: 208px;
  height: 198px;
  border-radius: 12px;
  margin-top: auto; /* Pushes the image to the bottom */
  align-self: center; /* Ensures the image is centered within its flex container */
}


.auction-profile-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  align-self: start;
  color: #071015;
  width: 100%; /* Ensures text container uses full available width */
}

.done-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  padding: 2px 4px; /* Padding: top and bottom 2px, left and right 4px */
  height: 16px;
  border-radius: 8px;
  background: #272D2D;
  gap: 8px; /* Space between items in the flex container */
}
.in-progress-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 2px 4px; /* Padding: top and bottom 2px, left and right 4px */
  height: 16px;
  border-radius: 8px;
  background: #F9FF90;
  gap: 8px; /* Space between items in the flex container */
 }


.container-of-texts {
  justify-content: space-evenly;
  width: 216px;
  height: 92px;
  padding: 8px 8px 4px 8px; /* top right bottom left */
  gap: 8px;
}
.element-twohundred {
  width: 200px;
  height: 24px;
}


.caption {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.caption-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
.caption-price {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 550;
  line-height: 24px;
  text-align: left;
  color: #071015;
}
  .in-progress-element-container {
    margin-top: 7px;
    margin-bottom: 5px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
.hours-remaining-text {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
}
.hours-remaining-container {
  margin-right: 3px;
  display: flex;
  flex-direction: row;
  height: 16px;
  padding: 2px 4px; /* top and bottom padding, left and right padding */
  border-radius: 8px;
  gap: 4px;
}

.auction-normal-image-container {
  width: 216px;
  height: 206px;
  padding: 4px;
  gap: 8px;
}

.auction-profile-image-editable {
  width: 208px;
  height: 150px;
  border-radius: 12px;
  margin-top: auto; /* Pushes the image to the bottom */
  align-self: center; /* Ensures the image is centered within its flex container */
}

.edit-delete-container {
  margin-top: 7px;
  width: 208px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  height: auto; /* Allow height to adjust based on content */
}
.edit-btn {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 156px;
  height: auto; /* Allow the height to adjust based on content */
  padding: 8px 16px; /* top and bottom padding, left and right padding */
  border-radius: 16px;
  gap: 8px;
  background: #272D2D;
  color: white;
}
.edit-btn-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.edit-btn-content {
  display: flex;
  align-items: center; /* Center content horizontally in a row layout */
}


.delete-btn {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 48px;
  height: 40px;
  padding: 8px 16px; /* top and bottom padding, left and right padding */
  border-radius: 16px;
  border: 1px solid; /* Adding a border, specify the border color and style if needed */
  gap: 8px;
}

.bidding-container {
  width: 216px;
  height: 250px;
  border-radius: 16px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center; /* Keep content aligned horizontally */
  justify-content: space-between; /* Align items to the start of the flex container */
}


